body, html{
font-size:12px;
padding:0px;
margin:0px;
background-color: white;
}

select option{
background: transparent;
width: 268px;
padding: 5px;
font-size: 18px;
font: normal normal bold 20px arial;
line-height: 1;
border: 0;
border-radius: 0;
height: 34px;
-webkit-appearance: none;

}

.header {
background-color:#2bad54;
padding:4px;

}
.header input{
left : 50%;
font-size:29px;
font: normal normal bold 25px arial;
border-radius:3px;

}
.header select, .header button {

background-color:white;
font-size: 29px;
font: normal normal bold 25px arial;
color: black;
border-radius:3px;
}
.header button {
display: inline-block;
background-color: white;
color:black;
font-size:29px;
font: normal normal bold 25px arial;
padding:6px 30pxpx;

}

button:hover {
color:#2bad54;
}


.button {

display: inline-block;
text-align: center;
vertical-align: top;
padding: 6px 28px;
border-radius: 3px;
background: white;
font: normal normal bold 20px arial;
color: #000000;
text-decoration: none;
}
.button:hover,
.button:focus {
color: #2bad54;
text-decoration: none;
}


.weather {
float: left;
background-color: white;
border-radius: 4px;
width:32.14%;
height:160px;
margin: 0.5% 0.5%;
position: static;
}
.weather > h2 {
border-radius: 4px;
border-bottom:1px solid #cccccc;
margin:0px;
padding:10px;
background-color:#fcfcfc;
margin: 2% 2%;
border: 2px solid black;
}
.weather-main {
padding:10px;
}
.weather-main ul {
background-color: #2bad54;
border: 2px solid black;
border-radius: 4px;
list-style-type:none;
margin:0px;
padding:0px;
text-align: center;
}
.weather-main ul li {
padding:5px 0px;
border-bottom:1px solid #cccccc;
}
.weather-main ul li:last-child {
border-bottom:none;
}
.weather-list em {
color:white;
font-weight: normal;

}
img.weather-icon {
width:25px;
height:25px;
display:inline-block;
vertical-align: middle;
}